<li class="nav-item">
	<a href="/index.php?module=plans&action=view" class="nav-link">
		<i class="nav-icon fa fa-file"></i>
		<p>ОП</p>
	</a>
</li>
<li class="nav-item">
	<a href="/index.php?module=dialogs&action=view" class="nav-link">
		<i class="nav-icon fa fa-envelope"></i>
		<p>Диалоги</p>
	</a>
</li>
<li class="nav-item">
	<a href="/index.php?module=access&action=log" class="nav-link">
		<i class="nav-icon fa fa-shield"></i>
		<p>Лог доступа</p>
	</a>
</li>
<li class="nav-item">
	<a href="/index.php?module=auth&action=logoff" class="nav-link">
		<i class="nav-icon fa fa-sign-out"></i>
		<p>Выйти из системы</p>
	</a>
</li>