<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta property="og:image" content=""/>

	<title></title>

	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=0.5"/>
	<link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css"/>

	<link href="/CSS/app.css" rel="stylesheet" type="text/css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
	<script src="/JS/jquery-ui.js"></script>
	<link href="/CSS/jquery-ui.css" rel="stylesheet" type="text/css"/>
	
	<link rel="stylesheet" type="text/css" href="/CSS/print.css" media="print" />
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
	
	
	<!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

	<div class="container_main">
		<div class="printer-header">
			<h2 id="planName">Тестовый</h2>
		</div>
		<div id="multi">
			<div class="overlay">
				<div class="hours" draggable="false">
					<div class="tile__name">Ед.</div>
					<div class="tile__list__blocked">
					</div>
				</div>

			</div>
			
			<div class="statistic">
				<div style="width: 6%;">
				</div>
			</div>
			
			<div class="container-fluid">
			  <div class="row">
				<div class="col">
				  <ul class='list-group list-group-flush SumStatistics1'></ul>
				</div>
				<div class="col">
				  <ul class='list-group list-group-flush SumStatistics2'></ul>
				</div>
				<div class="col">
				  <ul class='list-group list-group-flush SumStatistics3'></ul>
				</div>
				<div class="col">
				  <ul class='list-group list-group-flush SumStatistics4'></ul>
				</div>
			  </div>
			</div>
			
		</div>
	</div>

	
	
	<iframe src="http://diplom-tst.2tsy.ru/?module=plan_editor&action=embed" width="1080" height="1000" frameborder="0" style="border:0"></iframe>

	<script>
		{{{js_editor_subject001}}}
	</script>

	<script src="/JS/2Sortable.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="/JS/2ng-sortable.js"></script>
	<script src="/JS/2app.js"></script>
	
</body>
</html>